extends ../layout.pug

block body
    form(action="/admin/assign" method="post")
        h2(class="text-2xl font-semibold mb-4") Assign points

        input(type="hidden" name="csrf" value=csrf)

        div(class="flex space-x-3 items-center mb-3")
            - const radioButtonClass = 'py-1.5 px-3 cursor-pointer rounded-lg border border-border/50';
            each team in currentLan.teams
                label(data-points-type class=`${radioButtonClass} has-[:checked]:${helpers.getTeamBackground(team)} has-[:focus]:border-white`)
                    span=team.name
                    input(name="type" type="radio" value=team.id required class="w-0")
            label(data-points-type class=`${radioButtonClass} has-[:checked]:bg-highlight has-[:focus]:border-white`)
                span Player
                input(name="type" type="radio" value="player" required class="w-0")

        div(class="grid grid-cols-[repeat(2,min-content)]")
            label(data-player-field class="py-2 px-3 grid grid-cols-subgrid col-span-2 hidden")
                span(class="py-2 pr-3") Player
                +dropdown("userId", users, undefined, true, 'Select player', helpers.formatName)

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-2 pr-3") Points
                input(name="points" type="number" step="10" min="10" required class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-2 pr-3") Reason
                input(name="reason" type="text" required maxlength="256" class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-2")
                span(class="py-2 pr-3") Event
                +dropdown("eventId", events, undefined, false, 'None', (event) => event.name)

            div(class="mt-2")
                input(type="submit" name="submit" value="Submit" disabled=!currentLan || currentLan.isEnded class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
