extends ../layout.pug

block body
    h2(class="text-2xl font-semibold mb-4") Manage teams

    div(class="flex mb-3 gap-2 items-center")
        form(action="/admin/teams/randomise" method="post")
            input(type="hidden" name="csrf" value=csrfToken)
            input(type="submit" name="submit" disabled=currentLan.isStarted value="Randomise" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
        each team of teams
            div(class=`px-1.5 py-1 rounded-lg ${helpers.getTeamBackground(team)}`)
                =`${team.name}: ${team.count}`

    div(class="grid grid-cols-[repeat(3,max)]")
        div(class="grid grid-cols-subgrid col-span-3 font-bold")
            span(class="px-3 py-2 self-center") Name
            span(class="px-3 py-2 self-center") Groups
            span(class="px-3 py-2 self-center") Team

        each listUser of users
            div(class="grid grid-cols-subgrid col-span-3 hover:bg-highlight border-t border-border/50")
                span(class="px-3 py-2 self-center")=helpers.formatName(listUser)
                span(class="px-3 py-2 self-center")
                    each group of listUser.groups
                        span(class="inline-block px-1.5 py-1 mr-2 rounded-lg bg-highlight/60 border border-highlight-accent")
                            =group.name
                span(class="px-3 py-2 self-center flex gap-2 items-center")
                    if listUser.team
                        div
                            span(class=`inline-block px-1.5 py-1 rounded-lg ${helpers.getTeamBackground(listUser.team)}`)
                                =listUser.team.name
                        form(action=`/admin/teams/switch/${listUser.id}` method="post")
                            input(type="hidden" name="csrf" value=csrfToken)
                            input(type="submit" name="submit" value="Switch" class="py-1 px-2 rounded-md border border-border/80 bg-highlight")
