extends ../../layout.pug

block body
    form(action=helpers.routeUrl(routes.admin.events.get, event.id, query) method="post")
        h2(class="text-2xl font-semibold mb-4") Edit event

        input(type="hidden" name="csrf" value=csrfToken)

        div(class="grid grid-cols-[repeat(3,max-content)]")
            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Name
                input(name="name" type="text" required value=event.name maxlength="256" class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Description
                textarea(name="description" type="text" maxlength="1024" class="py-2 px-3.5 border border-border/80 rounded-sm field-sizing-content")
                    =event.description

            +datetime("startTime", "Start time", event.startTime, true, scheduleStart, scheduleEnd)

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Duration (minutes)
                input(name="duration" type="number" required min="0" step="1" value=event.duration class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(data-player-field class="py-2 px-3 grid grid-cols-subgrid col-span-3" data-event-game)
                span(class="py-2 pr-3") Game
                +dropdown("gameId", games, event.gameId, false, 'Select game', (game) => game.name)

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3" data-event-points)
                span(class="py-2 pr-3") Points per 10 mins
                input(name="points" type="number" min="0" step="10" value=event.points data-event-points-input class="py-2 px-3.5 border border-border/80 rounded-sm")

            //- div(class="py-2 px-3 grid grid-cols-subgrid col-span-3" data-event-points)
            //-     div(class="py-2 pr-3") Cancelled at
            //-     div(class="grid grid-cols-subgrid lg:col-span-2")
            //-         div(class="py-2 px-3 mb-2 lg:mb-0")
            //-             if event.cancelledAt
            //-                 =helpers.formatTimestamp(event.cancelledAt)
            //-             else
            //-                 | n/a
            //-         if !event.cancelledAt
            //-             div(class="lg:ml-3")
            //-                 button(data-confirm class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight" type="submit" name="submit")
            //-                     | Cancel event

            div(class="mt-2 flex gap-2")
                input(type="submit" name="submit" value="Save" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
                input(type="reset" value="Reset" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
