extends layout.pug

block body
    article(class="h-full flex items-stretch justify-center pt-6")
        each data of teamPoints
            div(class="flex-grow flex justify-center")
                div(class="flex flex-col w-[60%] max-w-[300px]")
                    div(class="flex-grow relative w-full min-h-[100px] border border-border/50")
                        div(
                            class=`absolute bottom-0 w-full ${helpers.getTeamBackground(data.team)}`
                            style=`height: ${helpers.round(100 * currentLan.progress * data.points / maxPoints, 4)}%;`
                        )
                            - const background = data.points > 0 ? helpers.getTeamBackground(data.team) : 'bg-highlight';
                            div(class=`absolute top-[-16px] left-full pr-2 pl-4 py-1 ml-[2px] arrow-4 z-1 whitespace-nowrap ${background}`)
                                =data.points
                                span(class="hidden lg:inline")=' points'

                    img(class="w-full pt-4 px-[10%]" src=data.team.name === "Red" ? "/red.png" : "/blue.png")
