extends layout.pug

block body
    section(class="mb-4")
        h2(class="text-2xl font-semibold mb-3") How to take part:
        if user && !user.isEnrolled
            p(class="bg-[#d57e31] inline-block px-4 py-3 mb-6 rounded")
                span(class="text-bold")="Warning: "
                = "You need the "
                span(class="inline-block px-1 rounded bg-white/20")=currentLan.role
                = " role on Discord to take part in this event, which requires a StratLAN ticket."
                br
                | If you do have a ticket, please contact event staff!
        ol(class="flex-none lg:flex gap-3 text-lg")
            li(class="flex-grow flex-1 mb-3 relative")
                if user
                    div(class="relative p-5 h-full bg-highlight clearfix rounded-lg border border-highlight-accent")
                        if user.discordAvatarId
                            img(src=helpers.getAvatarUrl(user) class="ml-3 h-12 w-12 rounded-md float-right")
                        span=`Logged in as ${user.discordUsername}`
                        img(src="/tick.svg" class="w-6 absolute top-2 right-2 bg-white rounded-full border")
                else
                    a(href=discordAuthUrl data-login class="block relative p-5 h-full bg-highlight clearfix rounded-lg border border-highlight-accent")
                        img(src="/discord-logo.svg" class="bg-discord p-1 ml-3 h-12 w-12 rounded-md float-right")
                        | Login with Discord

                span(class="inline-block -rotate-3 absolute -bottom-3 -right-2 z-1")
                    +pointsButton(introChallenges.Login, constants.INTRO_CHALLENGE_POINTS.Login)

            li(class="flex-grow flex-1 mb-3 relative")
                div(class="relative p-5 h-full bg-highlight rounded-lg border border-highlight-accent")
                    | Wait for the event to start
                if currentLan && currentLan.isStarted
                    img(src="/tick.svg" class="w-6 absolute top-2 right-2 bg-white rounded-full border")

            li(class="flex-grow flex-1 mb-3")
                div(class="relative p-5 h-full bg-highlight rounded-lg border border-highlight-accent")
                    if user && user.team
                        span="You're on team "
                        span(class=`inline-block px-1.5 py-1 -my-1 mr-2.5 rounded-lg ${helpers.getTeamBackground(user.team)}`)
                            =user.team.name
                        img(src="/tick.svg" class="w-6 absolute top-2 right-2 bg-white rounded-full border")
                    else
                        | Find out your team
            li(class="flex-grow flex-1 mb-3")
                div(class="relative p-5 h-full bg-highlight rounded-lg border border-highlight-accent")
                    | Go earn points!

                    if points > constants.INTRO_CHALLENGE_POINTS.Login
                        img(src="/tick.svg" class="w-6 absolute top-2 right-2 bg-white rounded-full border")

    section
        h2(class="text-2xl font-semibold mb-3") How to earn points:

        section(class="mb-4 p-5 bg-highlight rounded-lg border border-highlight-accent" id="scheduled")
            h3(class="text-xl font-semibold mb-3") Play scheduled games
            p(class="mb-2")
                ="Taking part in "
                a(href="/schedule" class="font-semibold border-b-1 border-highlight-accent")="scheduled games "
                | earns you points for every 10 minutes played.
            p(class="mb-2")
                | In order to earn points, you must have Activity Sharing enabled on Discord.

            h4(class="text-md font-semibold mt-6 mb-3") How to enable Activity Sharing
            ol(class="list-decimal ml-6")
                li
                    img(src="/discord-screenshots/settings.png" class="mb-3 max-h-[71px] sm:min-w-[192px] border border-highlight-accent")
                li
                    img(src="/discord-screenshots/activity-privacy.png" class="mb-3 max-h-[350px] sm:min-w-[333px] border border-highlight-accent")
                li
                    img(src="/discord-screenshots/stratlan.png" class="mb-3 max-h-[75px] sm:min-w-[361px] border border-highlight-accent")
                li
                    p(class="mb-2")
                        ="Check it's working by launching a game to "
                        span(class="inline-block rotate-1")
                            +pointsButton(introChallenges.GameActivity, constants.INTRO_CHALLENGE_POINTS.GameActivity)

        section(class="mb-4 p-5 bg-highlight rounded-lg border border-highlight-accent" id="tournaments")
            h3(class="text-xl font-semibold mb-3") Win games and tournaments
            p(class="mb-2")
                | Winning scheduled games, competitions and tournaments earns you points.

        section(class="mb-4 p-5 bg-highlight rounded-lg border border-highlight-accent" id="hidden")
            h3(class="text-xl font-semibold mb-3") Find hidden QR codes
            p(class="mb-2")
                | Find hidden QR codes around the venue and scan them to earn points.
            //- p(class="mb-2")
            //-     ="Scan this code to "
            //-     span(class="inline-block -rotate-3 ")
            //-         +pointsButton(introChallenges.OneTimeCode, constants.INTRO_CHALLENGE_POINTS.OneTimeCode)

        section(class="mb-4 p-5 bg-highlight rounded-lg border border-highlight-accent" id="events")
            h3(class="text-xl font-semibold mb-3") Attend events
            p(class="mb-2")
                | Certain events like the Pub Quiz will have a code you can scan to earn points.
            p(class="mb-2")

    p(class="pt-4 text-center text-sm") "You can't red vs. blue on your own" - Kharne
