doctype html
html(lang="en" class="h-full")
    head
        title StratLAN Scheduler
        link(rel="stylesheet" href="/style.css")
        link(rel="shortcut icon" href="/favicon.png")
    body(class="min-h-full bg-linear-150 from-bg-red via-bg-purple to-bg-blue via-30% bg-fixed text-white flex")
        nav(class="w-60 min-h-full backdrop-blur-xl backdrop-brightness-150")
            div(class="sticky top-0 w-60")
                h1(class="px-2 py-4")
                    a(href="/")
                        img(src="/stratlan-logo.webp" alt="StratLAN" class="h-[93px]")
                div(class="px-5 pb-4 space-y-3")
                    div
                        div(class="text-lg pb-1") Schedule
                        a(href='/' class="block px-3 py-2 text-sm hover:bg-highlight text-gray-100") Official events
                        //- a(href='/' class="block px-3 py-2 text-sm hover:bg-highlight text-gray-100") Community events
                    div
                        div(class="text-lg pb-1") Red vs. Blue
                        a(href='/dashboard' class="block px-3 py-2 text-sm hover:bg-highlight text-gray-100") Dashboard

                    if user && user.isAdmin
                        div
                            div(class="text-lg") Admin
                            a(href="/admin/points" class="block px-3 py-2 text-sm hover:bg-highlight text-gray-100") Points log
                            a(href="/admin/assign" class="block px-3 py-2 text-sm hover:bg-highlight text-gray-100") Assign points

        main(class="flex-grow")
            div(class="max-w-7xl mx-auto relative")
                div(class="flex")
                    div(class="flex-grow")
                    if user
                        div(class="relative" data-user-menu-wrapper)
                            div(class="flex items-center py-4 px-5.5 space-x-2 backdrop-blur-xl hover:backdrop-brightness-160 cursor-pointer rounded-b" data-user-menu-button)
                                span(class=`inline-block px-1.5 py-1 mr-2.5 rounded-lg ${helpers.getTeamBackground(teams, user.teamId)}`)= helpers.getTeamName(teams, user.teamId)
                                if user.discordAvatarId
                                    img(src=helpers.getAvatarUrl(user) class="h-8 w-8 rounded-md")
                                p(class="mr-4")= user.discordUsername
                                img(src="/discord-logo.svg" class="bg-discord p-1 h-8 w-8 rounded-md")
                            div(class="hidden absolute z-1 left-0 right-0 top-full backdrop-blur-xl backdrop-brightness-160 rounded-b" data-user-menu)
                                if user.steamUsername
                                    div(class="flex flex-grow items-center py-3 px-5.5 space-x-2 border-t border-border/30")
                                        span(class="flex-grow mr-4 overflow-x-hidden overflow-ellipsis") #{user.steamUsername}
                                        img(src="/steam-logo.svg" class="h-8 w-8")
                                else
                                    a(class="flex flex-grow items-center py-3 px-5.5 border-t border-border/30" href='/steam')
                                        span(class="flex-grow mr-4") Link Steam account
                                        img(src="/steam-logo.svg" class="h-8 w-8")
                                a(href='/logout' class="flex flex-grow items-center py-3 px-5.5 border-t border-border/30")
                                        span(class="flex-grow mr-4") Logout
                    else
                        a(href=discordAuthUrl class="flex items-center py-4 px-5.5 space-x-2 backdrop-blur-xl hover:backdrop-brightness-160 cursor-pointer rounded-b" data-user-menu-button)
                            span Login with Discord
                            img(src="/discord-logo.svg" class="bg-discord p-1 h-8 w-8 rounded-md")

                div(class="px-8 pt-6 pb-12")
                    block body

        script(src="/app.js")
