include mixins.pug

doctype html
html(lang="en" class="h-full")
    head
        title StratLAN Red vs. Blue
        link(rel="stylesheet" href="/style.css")
        link(rel="shortcut icon" href="/favicon.png")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body(class="min-h-[100vh] min-w-[400px] bg-linear-150 from-bg-red via-bg-purple to-bg-blue via-30% bg-fixed text-white flex flex-col")
        div(class="print:hidden fullscreen-heading hidden flex items-center py-4")
            img(src="/stratlan-logo.webp" alt="StratLAN" class="h-[70px] ml-4 mr-2")
            img(src="/red-vs-blue.png" class="mb-2 h-[70px]")
        div(class="print:hidden flex-grow flex")
            nav(class="hidden md:block w-60 bg-linear-150 from-bg-red-nav from-10% via-bg-purple-nav via-25% to-bg-blue-nav to-70% bg-fixed z-3 -mr-60 md:mr-0")
                div(class="sticky top-0")
                    button(class="md:hidden p-2" data-menu)
                        img(src="/menu.svg" class="p-2 w-12 h-12")
                    div(class="top-0 w-60")
                        div(class="p-2 px-2 md:pt-4 -mt-4 md:mt-0")
                            h1(class="")
                                a(href=routes.home)
                                    img(src="/stratlan-logo.webp" alt="StratLAN" class="h-[93px] mb-1.5")
                            img(src="/red-vs-blue.png" class="h-[46px] px-2")

                        div(class="px-5 pb-4 space-y-3")
                            section
                                +navigationLink(routes.home, 'Introduction')
                                +navigationLink(routes.dashboard, 'Dashboard')
                                +navigationLink(routes.schedule, 'Schedule')

                            if isAdmin
                                section
                                    div(class="text-xl pb-1") Admin
                                    +navigationLink(routes.admin.players.list, 'Players')
                                    +navigationLink(routes.admin.points.list, 'Points')
                                    +navigationLink(routes.admin.events.list, 'Events')
                                    +navigationLink(routes.admin.codes.list, 'Hidden codes')
                                    +navigationLink(routes.admin.games.list, 'Games')
                                    +navigationLink(routes.admin.lans.list, 'LANs')

                                div(class="block lg:hidden" data-lan-select)
                                    +dropdown("lanId", lans, currentLan && currentLan.id, true, 'Select LAN', (lan) => lan.name, true)

            main(class="flex-grow flex flex-col")
                div(class="flex-grow flex justify-center")
                    div(class="max-w-7xl flex-grow flex flex-col")
                        header(class="flex h-16")
                            div(class="flex-grow flex")
                                button(class="md:hidden p-2" data-menu)
                                    img(src="/menu.svg" class="p-2 w-12 h-12")

                            div(class="flex sticky right-0 z-2")
                                if isAdmin
                                    div(class="p-3 hidden lg:block" data-lan-select)
                                        +dropdown("lanId", lans, currentLan && currentLan.id, true, 'Select LAN', (lan) => lan.name)

                                if user
                                    div(class="flex gap-2 p-3 items-center")
                                        if points !== undefined
                                            span=`${points} points`

                                        if user.team
                                                span(class=`px-1.5 py-1 rounded-lg ${helpers.getTeamBackground(user.team)}`)
                                                    =user.team.name

                                    div(class="xl:relative" data-user-menu-wrapper)
                                        div(class="flex items-center py-4 px-5.5 space-x-2 backdrop-blur-xl hover:bg-highlight/60 cursor-pointer rounded-b" data-user-menu-button)
                                            if user.discordAvatarId
                                                img(src=helpers.getAvatarUrl(user) class="h-8 w-8 rounded-md")
                                            p(class="mr-4")= user.discordUsername
                                            img(src="/discord-logo.svg" class="bg-discord p-1 h-8 w-8 rounded-md")
                                        div(class="hidden absolute left-0 right-0 top-full backdrop-blur-xl bg-highlight/60 rounded-b" data-user-menu)
                                            //- if user.steamUsername
                                            //-     div(class="flex flex-grow items-center py-3 px-5.5 space-x-2 border-t border-border/30")
                                            //-         span(class="flex-grow mr-4 overflow-x-hidden overflow-ellipsis") #{user.steamUsername}
                                            //-         img(src="/steam-logo.svg" class="h-8 w-8")
                                            //- else
                                            //-     a(class="flex flex-grow items-center py-3 px-5.5 border-t border-border/30" href=routes.steam.login)
                                            //-         span(class="flex-grow mr-4") Link Steam account
                                            //-         img(src="/steam-logo.svg" class="h-8 w-8")
                                            a(href=routes.auth.logout class="flex flex-grow items-center py-3 px-5.5 border-t border-border/30")
                                                    span(class="flex-grow mr-4") Logout
                                else
                                    a(href=discordAuthUrl data-login class="flex items-center py-4 px-5.5 space-x-2 backdrop-blur-xl hover:backdrop-brightness-160 cursor-pointer rounded-b" data-user-menu-button)
                                        span Login with Discord
                                        img(src="/discord-logo.svg" class="bg-discord p-1 h-8 w-8 rounded-md")

                        div(class="flex-grow px-8 py-3")
                            block body

                div(class="pt-6")
                    footer(class="flex justify-center text-sm pb-6")
                        a(href=routes.privacy)="Privacy & cookie policy"

        div(class="hidden print:block")
            block print

        script(src="/app.js" nonce=nonce)

        div(class="hidden")
            =helpers.createSecretCode()
