mixin pointsButton(introChallenge, points)
    - const claimable = currentLan && !currentLan.isEnded && introChallenge && !introChallenge.scoreId;
    - const claimed = introChallenge && introChallenge.scoreId;
    - const inactive = !currentLan || currentLan.isEnded || claimed;
    - const url = claimable ? `/intro/claim/${introChallenge.id}` : undefined;

    a(href=url class=`relative inline-block rounded-lg ${claimable ? 'bg-(image:--rainbow) bg-animate cursor-pointer p-0.5 ' : 'bg-white p-0.25'}`)
        span(class=`block px-2.5 py-1.5 rounded-lg text-sm font-semibold ${inactive ? 'bg-highlight-accent' : 'bg-(image:--gradient-pop)'}`)
            span(class=`${inactive ? 'opacity-70' : ''}`)=`${introChallenge ? 'claim' : 'earn'} ${points} points`
        img(src="/tick.svg" class=`${claimed ? '' : 'hidden'} w-5 absolute -top-1.5 -right-1.5 bg-white rounded-full border`)

mixin navigationLink(path, text)
    a(href=path class=`block px-3 py-2 mb-0.5 text-md rounded-md pb ${currentPath === path ? 'bg-highlight/60' : ''} hover:bg-highlight text-gray-100`)
        =text

mixin dropdown(name, options, selectedId, required, placeholder, formatLabel, reverse)
    - const selected = options.find((option) => option.id === selectedId);
    div(data-dropdown class="relative")
        select(data-dropdown-input data-player-input name=name class="hidden" required=required)
            if !selectedId
                option(value="")= None
            each option of options
                option(value=option.id selected=(option.id === selectedId))=formatLabel(option)
        button(data-dropdown-button type="button" class="w-full py-2 px-3.5 border border-border/80 rounded-sm text-left flex items-center")
            span(class="flex-grow" data-dropdown-selected data-placeholder=placeholder)= selected ? formatLabel(selected) : placeholder
            img(src="/select-arrow.svg" class="w-5 ml-2 -mr-1")
        div(data-dropdown-menu class=`absolute z-1 hidden ${reverse ? 'bottom-full' : 'top-full'} left-0 w-full bg-highlight rounded-b`)
            div(class="py-2 px-2")
                input(data-dropdown-filter class="py-2 px-3.5 border border-border/80 rounded-sm w-full" type="text")
            div(class="max-h-60 overflow-y-auto")
                if !required
                    div(data-dropdown-item tabindex="0" class="py-2 px-3.5 hover:bg-white/20 focus:bg-white/20 cursor-pointer" data-value="") None
                each option of options
                    div(data-dropdown-item tabindex="0" class="py-2 px-3.5 hover:bg-white/20 focus:bg-white/20 cursor-pointer" data-value=option.id)
                        =formatLabel(option)

mixin datetime(name, label, value, required)
    label(class="py-2 px-3 grid grid-cols-subgrid col-span-3" data-datetime)
        span(class="py-2 pr-3")=label
        div(class="grid grid-cols-subgrid lg:col-span-2")
            input(
                name=name
                type="datetime-local"
                data-datetime-input
                value=value && helpers.formatTimestamp(value)
                required=required
                class="py-2 px-3.5 mb-2 lg:mb-0 border border-border/80 rounded-sm"
            )
            div
                button(
                    type="button"
                    data-datetime-set
                    class="lg:ml-3 py-2 px-3 cursor-pointer rounded-lg border border-border/80 focus:border-white active:bg-highlight"
                ) Now
                button(
                    type="button"
                    data-datetime-clear
                    class="ml-3 py-2 px-3 cursor-pointer rounded-lg border border-border/80 focus:border-white active:bg-highlight"
                ) Clear
