extends layout.pug

block body
    div(class="flex-none lg:flex relative")
        div(class="mt-10 border-r border-border/40 hidden lg:flex flex-col")
            each hour of helpers.getScheduleHours()
                div(class="flex-1 flex-grow px-2 text-sm relative -top-2")= helpers.formatHourAsTime(hour)

        each dayEvents of eventsByDay
            div(class="flex-1 flex-grow min-h-[500px]" style="height: calc(100vh - 110px);")
                div(class="flex h-full")
                    div(class="mt-10 border-r border-border/40 flex lg:hidden flex-col")
                        each hour of helpers.getScheduleHours()
                            div(class="flex-1 flex-grow px-2 text-sm relative -top-2")= helpers.formatHourAsTime(hour)
                    div(class="flex-grow flex flex-col")
                        h2(class="font-semibold py-2")= dayEvents.day
                        div(class="border-r border-b border-border/40 flex-grow flex flex-col relative")
                            each hour of helpers.getScheduleHours()
                                div(class="flex-1 flex-grow border-t border-border/40")
                            each group of helpers.groupEvents(dayEvents.events, isAdmin)
                                each [column, index] of group.map((column, index) => [column, index])
                                    each event of column
                                        div(class="absolute flex min-h-[55px]" style=helpers.getEventScheduleStyles(event, index, group.length, 80))
                                            - const marginRight = index === group.length - 1 ? 'mr-1' : 'mr-0';
                                            - const opacity = event.isCancelled ? 'opacity-50' : 'opacity-100';
                                            div(class=`relative flex-grow px-2 py-1.5 mx-1 my-0.5 ${marginRight} bg-highlight rounded-lg border border-highlight-accent overflow-hidden ${opacity}`)
                                                div(class="text-sm")= event.name
                                                div(class="text-xs")= helpers.formatTime(event.startTime)
                                                if isAdmin
                                                    a(href=helpers.routeUrl(routes.admin.events.get, event.id, { returnTo: 'schedule' }) class="w-8 absolute p-2 right-0 top-0 bg-highlight rounded-md")
                                                        img(src="/edit.svg")

        if isAdmin
            a(href=helpers.routeUrl(routes.admin.events.create, { returnTo: 'schedule' }) class="absolute px-4 py-2 bottom-3 right-4 bg-highlight text-2xl border border-highlight-accent rounded-full")
                | +
