extends ../../layout.pug

block body
    h2(class="text-2xl font-semibold mb-4") Players

    div(class="flex mb-3 gap-2 items-center")
        form(action=routes.admin.players.randomise method="post")
            input(type="hidden" name="csrf" value=csrfToken)
            input(type="submit" name="submit" disabled=currentLan.isStarted value="Randomise" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
        each team of teams
            div(class=`px-1.5 py-1 rounded-lg ${helpers.getTeamBackground(team)}`)
                =`${team.name}: ${team.count}`

    div(class="grid grid-cols-[repeat(5,max-content)]")
        span(class="px-3 py-2 self-center font-bold") Name
        span(class="px-3 py-2 self-center font-bold") Points
        span(class="px-3 py-2 self-center font-bold") Team
        span(class="px-3 py-2 self-center font-bold") Groups
        span(class="px-3 py-2 self-center font-bold") Actions

        each player of players
            a(href=helpers.routeUrl(routes.admin.players.get, player.id) class="grid grid-cols-subgrid col-span-4 hover:bg-highlight border-t border-border/50")
                span(class="px-3 py-2 self-center")=helpers.formatName(player)
                span(class="px-3 py-2 self-center")=player.points
                span(class="px-3 py-2 self-center")
                    if player.team
                        span(class=`inline-block px-1.5 py-1 rounded-lg ${helpers.getTeamBackground(player.team)}`)
                            =player.team.name
                span(class="px-3 py-2 self-center")
                    each group of player.groups
                        span(class="inline-block px-1.5 py-1 mr-2 rounded-lg bg-highlight/60 border border-highlight-accent")
                            =group.name

            form(action=helpers.routeUrl(routes.admin.players.switch, player.id) method="post" class="px-3 py-2 border-t border-border/50")
                input(type="hidden" name="csrf" value=csrfToken)
                input(type="submit" name="submit" value="Switch team" data-confirm class="py-1 px-2 rounded-md border border-border/80 bg-highlight")
