extends ../../layout.pug

block body
    form(action=`/admin/lans/${lan.id}` method="post" class="mb-3")
        h2(class="text-2xl font-semibold mb-4") Edit LAN

        input(type="hidden" name="csrf" value=csrfToken)

        div(class="grid grid-cols-[repeat(2,max-content)]")
            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Name
                input(name="name" type="text" required value=lan.name maxlength="256" class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Discord role
                input(name="role" type="text" value=lan.role maxlength="256" class="py-2 px-3.5 border border-border/80 rounded-sm")

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Seatpicker code
                input(name="seatPickerCode" type="text" value=lan.seatPickerCode maxlength="256" class="py-2 px-3.5 border border-border/80 rounded-sm")

            +datetime("eventStart", "Starts at", lan.eventStart, true)
            +datetime("eventEnd", "Ends at", lan.eventEnd, true)

            h3(class="text-lg font-semibold mt-4 mb-2 grid-cols-subgrid col-span-3") Dates to show on schedule

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") First day
                input(
                    name="scheduleStart"
                    type="date"
                    required
                    value=helpers.formatDate(lan.scheduleStart)
                    class="py-2 px-3.5 border border-border/80 rounded-sm"
                )

            label(class="py-2 px-3 grid grid-cols-subgrid col-span-3")
                span(class="py-2 pr-3") Last day
                input(
                    name="scheduleEnd"
                    type="date"
                    required
                    value=helpers.formatDate(lan.scheduleEnd)
                    class="py-2 px-3.5 border border-border/80 rounded-sm"
                )

            div(class="mt-2 flex gap-2")
                input(type="submit" name="submit" value="Save" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
                input(type="reset" value="Reset" class="py-1.5 px-3 rounded-md border border-border/80 bg-highlight")
